body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    background-color: #A0B6DD;
  }

  .container {
    max-width: 2000px;
    height: 1300px;
    margin: 0 auto;
    background-color: #d2d9d0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  form {
    display: grid;
    grid-gap: 5px;
  }

  .form-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    align-items: center;
  }

  .form-group label {
    font-weight: bold;
    text-align: right;
    margin-right: 3px;
  }

  .form-group input[type="text"],
  .form-group select {
    width: 100%;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center; /* Center the input text */
    margin-top: 5px;
  }
  
  .form-group.street label {
    text-align: left;
    margin-right: 10px;
  }
  .container img {
          display: block;
          margin: 0 auto;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-left: 300px;
          margin-top: -100px;
  }
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .next-button,
  .cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .next-button {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
  }
  
  .next-button:hover,
  .cancel-button:hover {
    opacity: 0.8;
  }
  .checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .checkbox-group label {
    margin-right: 10px;
  }
  .course-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .course-container label {
    font-weight: bold;
  }
  
  .course-container input[type="text"] {
    width: 100%;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center; /* Center the input text */
    justify-content: center;
  }
  .emergency-section {
    text-align: center;
    border: 2px solid #000000;
    padding: 10px;
  }
  .education-section{
    text-align: center;
  }
  .error-message {
    color: red;
    display: none;
  }
  
  .error-icon {
    display: none;
    margin-left: 5px;
  }
  
  